.issue {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px solid grey;
  cursor: pointer;
}

.leftBox {
  width: 60%;
}

.title {
  max-height: 25px;
  font-size: 1.2em;
  overflow: hidden;
}

.title > span {
  margin-right: 2%;
}

.num {
  display: flex;
  align-items: center;
}
